* {
  background-color: #DDD1C7;
}


.viewButtons {
  text-align: right;
}

ul {
  list-style-type: none;
}

h1 {
  color: #8DB580;
  text-align: center ;
}

h2 {
  color: #8DB580;
}

h3 {
  color: #8DB580;
}

.selected {
  background-color: #C2CFB2;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  background-color: #C2CFB2;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.answersContainer {
  display: flex;
  align-content: space-between;
  justify-content: space-between;
}

.submitBtn {
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
